<%- include("_header.ejs") %>
<%- include("_navbar.ejs") %>
<section id="homepage" class='container'>
	<section id='hero' class='row text-white'>
		<div class="col-md-6 pt-lg-5">
			<h1 class="h1 fw-bold texter">Custom Websites</h1>
			<p class="fs-4">Hi, I'm a Full-Stack Web-Developer, building responsive websites from concept to completion with hosting, fashioning everything from the home page to site layout and function.</p>
			<a href="#contact" class="btn btn-secondary text-white btn-lg" type="button">Get in touch...</a>
		</div>
		<div class="col text-center">
			<img class="img-fluid" width="400" src="images/coding-yellow.png" alt="">
		</div>
	</section>
	<hr class="border border-white border-2">
</section>

<%- include("testimonials.ejs") %>
<%- include("services.ejs") %>
<%- include("projects.ejs") %>
<%- include("contact.ejs") %>

<%- include("_footer.ejs") %>